<table class="table table-sm table-bordered table-hover">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Orders?.Count() > 0)
        {
            @foreach (Pay p in Orders)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Zip</td>
                    <th>Book</th>
                    <th>Quantity</th>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderSelected.InvokeAsync(p.PaymentId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>

                @foreach (CartLineItem cli in p.Lines)
                {
                    <tr>
                        <td clospan="2"></td>
                        <td clospan="2"></td>
                        <td>@cli.Book.Title</td>
                        <td>@cli.Quantity</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Orders To Be Shown</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Orders";

    [Parameter]
    public IEnumerable<Pay> Orders{ get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }

}
